<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" ng-app="mainApp">
<head>
	
	<title>fundologia</title>
	<meta charset="utf-8">

	
	<meta name="description" content="Compare fundos de investimento. Analise estatistica das rentabilidades">
  	<meta name="keywords" content="fundos, compare fundos, fundo, investimento, fundos de investimento, rentabilidade, rentabilidade fundos, melhor investimento, onde investir, qual melhor investimento, onde devo investir, dinheiro, bovespa, ibovespa, compare rentabilidade, CDI">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/range.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="style.css">
	
    <!-- Favicons -->
    <link rel="icon" href="img/favicon-16.png" sizes="16x16">
    <link rel="icon" href="img/favicon-24.png" sizes="24x24">
	<link rel="icon" href="img/favicon-32.png" sizes="32x32">
	<link rel="icon" href="img/favicon-72.png" sizes="72x72">
	<link rel="icon" href="img/favicon-96.png" sizes="96x96">
	<link rel="icon" href="img/favicon-114.png" sizes="114x114">
	<link rel="icon" href="img/favicon-128.png" sizes="128x128">
	<link rel="icon" href="img/favicon-144.png" sizes="144x144">
	<link rel="icon" href="img/favicon-160.png" sizes="256x160">
    <!-- Favicons -->
	
</head>
<body class="noselect">
	<div class="rotate" onclick="removeRotateGif()">
		<div class="row">
				<div class="col s12">
						<img class="center" src="img/mobile.gif">
				</div>
		</div>
	</div>

<div ng-controller="ctrl" class="mainContent">
	<div class="navbar-fixed" ng-init="loadCtrl()">
		<nav class="nav-extended">
		 <div class="nav-wrapper container">
		  
		  <a data-activates="slide-out" class="button-collapse"><i class="material-icons"  >menu</i></a>
		  <label class="mainHeader">fundologia.</label> 
		  <span>o fim do achismo!</span>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			  <li></li>
			<!-- <li><a href="#sobre">O que é?</a></li>
			<li><a href="#comofunciona">Como funciona</a></li> -->
		  </ul>
		  <ul class="side-nav" id="slide-out" >
			<!-- <li><a href="#sobre">O que é?</a></li>
			<li><a href="#comofunciona">Como funciona</a></li> -->
			<li class="show-on-smaller-992"  ng-click="mobSelectPage('main')"><a>Lista</a></li>
			<li class="show-on-smaller-992"  ng-click="mobSelectPage('filter')"><a>Filtro</a></li>
			<li class="show-on-smaller-992" ng-click="mobSelectPage('histogram')"><a>Histogramas</a></li>
		  </ul>
		 </div>
		</nav>
	</div>
	<div class="navbar-fixed hide-on-med-and-down" ng-if="false">
		<nav class="nav-extended sub-menu">
			<div class="nav-wrapper container">
				<ul id="nav-mobile" class="right">
					<li><a class="btn btn-laranja" href="#cadastro">Inscreva-se</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col xl2 l2 s12 " ng-class="{'hide-on-med-and-down':mobileSelectedPage!='filter'}">
			<div class="section fixed">
				
					<h5 class="filterTitle">Período </h5>
					<div class="tsHeight" >
							<p ng-repeat="filterItem in filters.Periodo.equals({visible:true}) track by filterItem.id" >
								<input class="with-gap" type="radio" name="filterPeriodo" ng-class="{'filled-in':filterItem.checked}" id="filterPeriodo_{{::filterItem.id}}" ng-value="filterItem.id" ng-change="$parent.changePeriodo()" ng-model="$parent.selectedPeriod"  />
								<label for="filterPeriodo_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
							</p>
							<p class="pUpper">
								<a class="linkSeeMore" ng-click="showAllFilterPeriodoOn = toggleFilter(showAllFilterPeriodoOn, filters.Periodo)" ng-class="{seeMore:showAllFilterPeriodoOn, seeLess:!showAllFilterPeriodoOn}"></a>
							</p>
					</div>
				
				<div class="divider"></div>
				<h5 class="filterTitle">Tipo</h5>
				<div class="tsHeight" ng-class="{tsOpened:showAllFilterTypeOn}">
					<p ng-repeat="filterItem in filters.Tipo.equals({visible:true})" >
						<input  type="checkbox"  ng-class="{'filled-in':filterItem.checked}" id="filterTipo_{{::filterItem.id}}" ng-model="filterItem.checked" ng-click="$parent.checkFilterTopShow(filters.Tipo,showAllFilterTypeOn)" ng-checked="filterItem.checked" />
						<label for="filterTipo_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
					</p>
					<p class="pUpper">
						<a class="linkSeeMore" ng-click="showAllFilterTypeOn = toggleFilter(showAllFilterTypeOn, filters.Tipo)" ng-class="{seeMore:showAllFilterTypeOn, seeLess:!showAllFilterTypeOn}"></a>
					</p>
				</div>
				

				<div class="divider"></div>

				<h5 class="filterTitle">
					Aplicação inicial
					<i ng-click="openChart('Aplicação inicial', 'initialValue')" class="material-icons small tooltipped" data-position="bottom" data-delay="50" data-tooltip="veja mais informaçoes sobre Aplicação inicial.">insert_chart</i>
				</h5>
				<p class="checkList" ng-repeat="filterItem in filters.InitialValue.equals({visible:true})" >
						<input type="checkbox" ng-click="$parent.changeInitialValue(filterItem)"  ng-class="{'filled-in':filterItem.checked}"  id="filterInitValue_{{filterItem.id}}" ng-model="filterItem.checked" ng-checked="filterItem.checked" />
						<label for="filterInitValue_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
				</p>
				<p class="pUpper">
						<a class="linkSeeMore" ng-click="showAllFilterInitValueOn = toggleFilter(showAllFilterInitValueOn, filters.InitialValue)" ng-class="{seeMore:showAllFilterInitValueOn, seeLess:!showAllFilterInitValueOn}"></a>
						
				</p>

				<div class="divider"></div>

				<h5 class="filterTitle">
					Resgate em atê: 
					<i ng-click="openChart('Resgate', 'withdrawDays')" class="material-icons small tooltipped" data-position="bottom" data-delay="50" data-tooltip="veja mais informaçoes sobre Taxa de adm.">insert_chart</i>
				</h5>
				<p>{{withdrawDays}} dia{{withdrawDays!=1?'s':''}} <em ng-show="withdrawDays==100"> ou mais</em></p>
				<p class="range-field">
					<input type="range" ng-model="withdrawDays"  min="0" max="100" />
				</p>
				

				<div class="divider"></div>

				<h5 class="filterTitle">
					Taxa de Adm atê: 
					<i ng-click="openChart('Taxa Administrativa', 'admTax')" class="material-icons small tooltipped" data-position="bottom" data-delay="50" data-tooltip="veja mais informaçoes sobre Taxa de adm.">insert_chart</i>
				</h5>
				<p>{{admTx}}% <em ng-show="admTx==4"> ou mais</em></p>
				<p class="range-field">
					<input type="range" ng-model="admTx"  min="0" max="4" step="0.1" />
				</p>

				<div class="divider"></div>

				<h5 class="filterTitle">
					Patrimônio atê:
					<i ng-click="openChart('Patrimônio', 'volume')" class="material-icons small tooltipped" data-position="bottom" data-delay="50" data-tooltip="veja mais informaçoes sobre Patrimônio.">insert_chart</i>
				</h5>
				<p class="checkList" ng-repeat="filterItem in filters.volume.equals({visible:true})" >
						<input type="checkbox"  ng-class="{'filled-in':filterItem.checked}" id="filterVolume_{{::filterItem.id}}" ng-click="checkFilterTopShow(filters.volume,showAllFilterVolumeOn)" ng-model="filterItem.checked" ng-checked="filterItem.checked" />
						<label for="filterVolume_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
				</p>
				<p class="pUpper">
						<a class="linkSeeMore" ng-click="showAllFilterVolumeOn = toggleFilter(showAllFilterVolumeOn, filters.volume)" ng-class="{seeMore:showAllFilterVolumeOn, seeLess:!showAllFilterVolumeOn}"></a>
						
				</p>
				
				<a ng-click="mobApplyFilter()" ng-show="mobileSelectedPage=='filter'" class="waves-effect waves-light btn-large w100">Aplicar filtros</a>
					
			</div>
			
		</div>
		<div class="col xl8 l8 m12 s12 " ng-hide="mobileSelectedPage != 'main'">
			<section class="row" id="tables">
				<div >
					<div class="col s12 head-form">
						<div class="row">
							<div class="input-field col s12 m12 l12 xl12">
								<div class="search-wrapper card">
									<input class="bbn" type="text" ng-model="searchTxt" id="icon_prefix">
									<i class="iconInside material-icons">search</i>
									<label for="icon_prefix" class="hide-on-smaller-400" >Pesquise e compare os melhores fundos de investimento para o seu perfil</label>  
									<label for="icon_prefix" class="show-on-smaller-400" >Pesquise fundos de investimento</label>  
								</div>
								<!-- <input id="icon_prefix" type="text" ng-model="searchTxt" class="validate"><i class="material-icons ">search</i>
								<label for="icon_prefix" ng-bind="::searchFieldTxt">Pesquise e compare os melhores fundos de investimento para o seu perfil</label>  -->
							</div>
						</div>
						
					</div>
					<div class="col s12">
						<div class="row">
							<div class="input-field col m12 s12 l12">
							<table id="mainTable" class="highlight" ng-class="{comparandoFundo:fundsToCompare.length==1}">
								<thead>
									<tr>
										<th class="hide-on-smaller-400 tooltipped"  >
											Rank 
											<i class="tiny material-icons" data-position="top" data-delay="10" data-tooltip="<span class=tr><p>Ranking dos fundos feito mês a mês.</p><p>Para cada mês lista-se os fundos de forma decrescente de acordo com a rentabilidade</p><p>O primeiro fundo da lista será aquele com melhor rentabilidade no período e receberá nota 1, e assim sucessivamente</p><p>No final, soma-se a nota de todos os meses para cada fundo</p><p>Ou seja, quanto menor a soma, melhor o fundo</p></span>" >info_outline</i> 
										</th>
										<th>Fundo</th>
										<th class="hide-on-small-and-down " data-position="top" data-delay="50" data-tooltip="Quantidade de meses (em porcentagem) que o fundo teve resultado positivo">
											Meses positivo
											<i class="tiny material-icons tooltipped">info_outline</i>
										</th>
										<th class=" hide-on-small-and-down tooltipped" data-position="top" data-delay="50" data-tooltip="Soma dos ganhos nos meses positivos dividivo pela soma das perdas nos meses negativos." >Rel. Ganho/ Perda</th>
										<th class="show-column-largar-1200">Média</th>
										<th class="hide-on-small-and-down">Desvio Padrão</th>
										<th class="show-column-largar-1300">Correlação Ibov</th>
										<th class="hide-on-smaller-400">Tx Adm</th>
										<th>Rentabilidade período</th>
										
									</tr>
								</thead>
		
								<tbody>
									<tr class="tableRow"
										ng-class="{hoverRow:row.uniqueID==$parent.currentDetailRow, fullsquare:row.selectedToCompare}" ng-repeat="row in getMainList()" 
										ng-mouseover="showRowDetail(row)">
										<td ng-class="{'acao':row.info.isAcao, 'rendaFixa':row.info.isRendaFixa, 'multiMercado':row.info.isMultimercado, 'cambial':row.info.isCambial, 'notset':row.info.isNotSet}" class="noselect hide-on-smaller-400" title="{{row.figures[selectedPeriod].totalRank}} pontos somados" ng-bind="row.figures[selectedPeriod].rank">Rank</td>
										<td class="cutText noselect" >
											{{row.name}}
											<i class="colorIcon tiny material-icons tooltipped" ng-show="row.info.restrict" data-position="top" data-delay="50" data-tooltip="Fundo destinado à investidores qualificados.">monetization_on</i>
											<i class="colorIcon tiny material-icons hidenIcon tooltipped" ng-click="openRankDialog()" data-position="top" data-delay="50" data-tooltip="Tabela de rentabilidade completa!" >info_outline</i> 
											<i class="colorIcon tiny material-icons tooltipped" ng-show="row.info.isClosed" data-position="top" data-delay="50" data-tooltip="Fundo fechado!">https</i>
											<i class="colorIcon small material-icons hidenIcon compareIcon tooltipped" ng-click="rowClick(row)"  data-position="top" data-delay="10" data-tooltip="Comparare este fundos com outros!">compare_arrows</i>
										</td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].posNegCountRate | percentage:2">Eclair</td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].posNegAvgRate"></td>
										<td class="noselect show-column-largar-1200" ng-bind="row.figures[selectedPeriod].average"></td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].stdDev"></td>
										<td class="noselect show-column-largar-1300" ng-bind="row.figures[selectedPeriod].correlationIbov"></td>
										<td class="noselect hide-on-smaller-400" ng-bind="row.info.admTax| percentage:2"></td>
										<td class="noselect" ng-bind="row.figures[selectedPeriod].performance|percentage:2"></td>
									</tr>
									
								</tbody>
								<tfoot>
									<tr ng-show="lastResult.length > 20">
										<td col="3">
											<a>ver todos</a>
										</td>
									</tr>
									<tr ng-show="lastResult.length == 0 && searchTxt.length > 0">
										<td colspan="9" class="tdNotFound">
											<p>Não encontrou o fundo que gostaria?</p>
											<p>
												<img src="img/shame.png"/>
											</p>
											<p>Use <i>#faltouEsseFundo</i> nos comentários abaixo que nos vamos atras dele para você! </p>
										</td>
									</tr>
									<tr ng-show="lastResult.length == 0 && searchTxt.length == 0">
											<td colspan="9"  class="tdNotFound">
												<p>Nenhum fundo com essas características.</p>
											</td>
										</tr>
								</tfoot>
								</table>
							</div>
						</div>
						
					</form>
				</div>
			</section>	
			
		</div>
		<div class="col xl2 l2 s12 " ng-class="{'hide-on-med-and-down':mobileSelectedPage!='histogram'}" id="rightMenu">
				<div class="section fixed">
					
					
					<h5 class="filterTitle ">Rentabilidade acumulada:</h5>
					<div id="curve_chart" style="min-height:120px;" ></div>
					<div class="divider"></div>
					
					<h5 class="filterTitle ">Rank mês a mês:</h5>
					<div id="ranking_chart" style="min-height:120px;" ></div>
					<div class="divider"></div>
					
					<div  ng-class="{invisible:currentRow.values==null}" id="horizontalScollParent">
						<div class="horizontal-scroll-wrapper squares" id="rankHorizontal" ng-mouseover="valueHover()" >
							<div ng-dblclick="openRankDialog()" ng-repeat="m in periodName.take(filters.Periodo[selectedPeriod].len) track by $index">
								{{m}}<br/> {{currentRow.rank[$index]}}<sup>ᵒ</sup><br/>{{currentRow.values[$index]|percentage:2}}
							</div>
						</div>
					</div>


					
					<my-histogram
						chart-title="Rendimento"
						histogram="histogramPerformance"
						value="getFromCurrentFigure('performance')"
						property="performance"
						show-chart="false"
						type="figure"
						sufix="%"
						currentrow="currentRowHistPerformance"></my-histogram>

					<my-histogram
						chart-title="Volatilidade"
						histogram="histogramStDev"
						value="getFromCurrentFigure('stdDev')"
						show-chart="true"
						property="stdDev"
						type="figure"
						tooltip="Quanto mais a rentabilidade de um fundo varia em um determinado período, maior o risco desse fundo.Mas, vale a pena correr esse risco?Clique e confira!"
						currentrow="currentRowHistStDev"></my-histogram>
					
					<my-histogram
						chart-title="Rel. Ganho/Perda"
						show-chart="true"
						value="getFromCurrentFigure('posNegAvgRate')"
						tooltip="Soma dos ganhos nos meses positivos dividivo pela soma das perdas nos meses negativos. Clique e confira!"
						histogram="histogramPosNegAvgRate"
						property="posNegAvgRate"
						type="figure"
						currentrow="currentRowHistPosNegAvgMonth"></my-histogram>
					

					<my-histogram
						chart-title="Correlação IBOV"
						histogram="histogramCorrelIbov"
						correlation="current_correlationIbov"
						value="getFromCurrentFigure('correlationIbov')"
						show-chart="true"
						property="correlationIbov"
						type="figure"
						tooltip="Quanto maior a correlação com o IBOV, maior influência o índice exerce sobre o fundo. A questão é, quanto maior a correlação, maior a rentabilidade? Clique e confira!"
						currentrow="currentRowHistCorrelIbov"></my-histogram>
						
					
					<my-histogram
						chart-title="Correlação S&P500"
						histogram="histogramCorrelSP500"
						correlation="current_correlationSP500"
						value="getFromCurrentFigure('correlationSP500')"
						show-chart="true"
						property="correlationSP500"
						type="figure"
						tooltip="Quanto maior a correlação com o S&P500, maior influência o índice exerce sobre o fundo. Essa correlação influencia proporciomalmente na rentabilidade? Clique e confira!"
						currentrow="currentRowHistCorrelSP500"></my-histogram>
						
					<my-histogram
						chart-title="Correlação CDI"
						value="current_correlationCDI/100.0"
						show-chart="false"
						correlation="current_correlationCDI"
						histogram="histogramCorrelCDI"
						property="correlationCDI"
						type="figure"
						tooltip="Quanto maior a correlação com o CDI, maior influência o índice exerce sobre o fundo. Como se comportam os fundos com maior correlação? Clique e confira!"
						currentrow="currentRowHistCorrelCDI"></my-histogram>
					
					<my-histogram
						histogram="histogramPosNegRate"
						chart-title="Meses positivos"
						show-chart="true"
						value="getFromCurrentFigure('posNegCountRate')"
						property="posNegCountRate"
						type="figure"
						sufix="%"
						tooltip="Quantidade de meses (em porcentagem) que o fundo teve resultado positivo. Clique e confira!"
						currentrow="currentRowHistPosNegMonth"></my-histogram>
				
					<my-histogram
						chart-title="Taxa Administrativa"
						show-chart="true"
						value="getFromCurrentRow('admTax')"
						histogram="histogramTxAdm"
						property="admTax"
						type="info"
						sufix="%"
						tooltip="Fundo que cobra mais taxa Administrativa rende mais? Este gráfico vai te ajudar a descobrir!"
						currentrow="currentRowTxAdm"></my-histogram>
					
					<my-histogram
						chart-title="Média Rendimento"
						histogram="histogramAvg"
						value="getFromCurrentFigure('average')"
						show-chart="true"
						property="average"
						type="figure"
						sufix="%"
						tooltip="Rendimento médio no período"
						currentrow="currentRowHistAvg"></my-histogram>

					<a ng-click="mobApplyFilter()" ng-show="mobileSelectedPage=='histogram'"  class="waves-effect waves-light btn-large w100">Voltar</a>
				</div>
			
		</div>
	</div>


	<div class="row"  ng-show="mobileSelectedPage =='main'" >
		<div class="container">
				<div id="disqus_thread"></div>
				<script>
				
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://fundologia.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
											
		</div>
	</div>
	<footer class="row">
		<div class="container">
			<label ng-bind="width"></label>
		</div>
	</footer>
	
	<div id="modal1" class="modal" >
		<div class="modal-content">
		  <h4>{{currentCharTitle}} <em ng-show="selectedPeriod <= 2">nos </em><em ng-bind="::filters.Periodo.first({id:selectedPeriod}).Title"></em></h4>
		  <div id="chart_txdm_scatter" style="width:100%;"></div>
		</div>	
	</div>

	<div id="modaltable" class="modal" >
		<div class="modal-content">
			<h5 ng-bind="currentRow.name"></h5>
			<div class="row">
				<div class="col m6 l6 xl6 lblResume">
					<label ng-mouseover="showMesesPositivos=true;showMesesNegativos=false;"><span class="spLabel">Meses positivos: </span><em ng-bind="currentRow.figures[selectedPeriod].positiveCount"></em> (<em ng-bind="currentRow.figures[selectedPeriod].posNegCountRate|percentage:2"></em>)</label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=true;"><span class="spLabel">Meses negativos: </span><em ng-bind="currentRow.figures[selectedPeriod].negativeCount"></em> (<em ng-bind="100 - currentRow.figures[selectedPeriod].posNegCountRate|percentage:2"></em>)</label>
					<label ng-mouseover="showMesesPositivos=true;showMesesNegativos=false;"><span class="spLabel">Média rentabilidade positiva:</span> <em ng-bind="currentRow.figures[selectedPeriod].positiveAvg|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=true;"><span class="spLabel">Média rentabilidade negativa:</span> <em ng-bind="currentRow.figures[selectedPeriod].negativeAvg|percentage:2"></em></label>
				</div>
				<div class="col m6 l6 xl6">
						<rd-histogram
							histogram="currentRow.figures[selectedPeriod].histogram.data"
							sufix="%">
						</my-histogram>
				</div>
			</div>
			<div class="row "ng-repeat="y in groupedRankList">
				<table id="tableRank">
					<caption>20{{y.year}}</caption>
					<thead>
						<tr>
							<th ng-repeat="item in y.data" ng-bind="::item.label"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td ng-repeat="item in y.data track by $index" class="tooltipped" data-position="top" data-delay="10" data-tooltip="Posição no ranking" >{{item.rank}}<sup>ᵒ</sup></td>
						</tr>
						<tr>
							<td class="{{$parent.histogram_info.class}}" ng-repeat="item in y.data track by $index" ng-bind="::item.value|percentage:2" 
							ng-class="{
										highlightPos:(showMesesPositivos && item.value>=0),
										highlightNeg:(showMesesNegativos && item.value<0),
										histInfo:(item.value >= histogram_info.low && item.value <= histogram_info.high)
									}
									"></td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	
	<div class="floating" ng-show="fundsToCompare.length > 0">
		<div class="selectedFund" ng-class="{fullsquare:fundsToCompare.length >=1,emptysquare:fundsToCompare.length <=0 }" ng-click="compareFundItemClick(0)">
			<label ng-bind="::fundsToCompare[0].name" ></label>
		</div>
		<div class="selectedFund" style="margin-left:5px;" ng-class="{fullsquare:fundsToCompare.length >=2,emptysquare:fundsToCompare.length <=1 }">
			<label ng-show="fundsToCompare.length <= 1">
				<i class="medium material-icons tooltipped" data-position="top" data-delay="10" data-tooltip="Selecione outro fundo" >compare_arrows</i>
			</label>
			<label ng-show="fundsToCompare.length > 1" ng-click="compareFundItemClick(1)" ng-bind="::fundsToCompare[1].name">Selecione outro fundo</label>
		</div>
		<button ng-disabled="fundsToCompare.length <= 1" class="waves-effect waves-light btn">Comparar</button>
	</div>

</div>

<div id="preloading">
	<div class="row">
		<div class="s12 m12 l12 xl12 center">
				<div class="preloader-wrapper big active">
						<div class="spinner-layer spinner-blue">
						  <div class="circle-clipper left">
							<div class="circle"></div>
						  </div><div class="gap-patch">
							<div class="circle"></div>
						  </div><div class="circle-clipper right">
							<div class="circle"></div>
						  </div>
						</div>
				  
						<div class="spinner-layer spinner-red">
						  <div class="circle-clipper left">
							<div class="circle"></div>
						  </div><div class="gap-patch">
							<div class="circle"></div>
						  </div><div class="circle-clipper right">
							<div class="circle"></div>
						  </div>
						</div>
				  
						<div class="spinner-layer spinner-yellow">
						  <div class="circle-clipper left">
							<div class="circle"></div>
						  </div><div class="gap-patch">
							<div class="circle"></div>
						  </div><div class="circle-clipper right">
							<div class="circle"></div>
						  </div>
						</div>
				  
						<div class="spinner-layer spinner-green">
						  <div class="circle-clipper left">
							<div class="circle"></div>
						  </div><div class="gap-patch">
							<div class="circle"></div>
						  </div><div class="circle-clipper right">
							<div class="circle"></div>
						  </div>
						</div>
					  </div>
		</div>
	</div>
	
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	
	<script src="js/materialize.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="util.js"  charset="utf-8" ></script>
	<script src="js/dataManager.js"  charset="utf-8" ></script>
	<script src="js/histogram.js"  charset="utf-8" ></script>
	<script src="main.js"  charset="utf-8" ></script>
	<script src="js/init.js"></script>
	<script id="dsq-count-scr" src="//fundologia.disqus.com/count.js" async></script>
	
</body>
</html>