<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" ng-app="mainApp">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115170636-1"></script>
	<script>
		if(window.location.href.indexOf('dev.') ==-1 || window.location.href.indexOf('github.io')){
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-115170636-1');
		}else{
			ga = function(p1, p2){console.log(p1, p2)};
		}
	</script>

	<script>
		if(window.location.href.indexOf('dev.') ==-1 || window.location.href.indexOf('github.io')){
			window['_fs_debug'] = false;
			window['_fs_host'] = 'fullstory.com';
			window['_fs_org'] = 'AWRMP';
			window['_fs_namespace'] = 'FS';
			(function(m,n,e,t,l,o,g,y){
				if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
				g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
				o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
				y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
				g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
				y="rec";g.shutdown=function(i,v){g(y,!1)};g.restart=function(i,v){g(y,!0)};
				g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
				g.clearUserCookie=function(){};
			})(window,document,window['_fs_namespace'],'script','user');
		}
		
	</script>

	<title>fundologia</title>
	<meta charset="utf-8">

	
	<meta name="description" content="Pesquise e Compare fundos de investimento. Todas as informações que você precisa para escolher seu fundo de investimento num lugar so.">
  	<meta name="keywords" content="fundos, compare fundos, fundo, investimento, fundos de investimento, rentabilidade, rentabilidade fundos, melhor investimento, onde investir, qual melhor investimento, onde devo investir, dinheiro, bovespa, ibovespa, compare rentabilidade, CDI">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

	<meta property="og:title" content="Fundologia">
	<meta property="og:description" content="Pesquise e Compare fundos de investimento. ">
	<meta property="og:image" content="https://www.fundologia.com.br/img/img.jpg">
	<meta property="og:url" content="http://www.fundologia.com.br">
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="pt_BR" />
	<meta name="twitter:card" content="summary_large_image">	

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	
    <!-- Favicons -->
    <link rel="icon" href="img/favicon-16.png" sizes="16x16">
    <link rel="icon" href="img/favicon-24.png" sizes="24x24">
	<link rel="icon" href="img/favicon-32.png" sizes="32x32">
	<link rel="icon" href="img/favicon-72.png" sizes="72x72">
	<link rel="icon" href="img/favicon-96.png" sizes="96x96">
	<link rel="icon" href="img/favicon-114.png" sizes="114x114">
	<link rel="icon" href="img/favicon-128.png" sizes="128x128">
	<link rel="icon" href="img/favicon-144.png" sizes="144x144">
	<link rel="icon" href="img/favicon-160.png" sizes="256x160">
	<style>
		.txtRotateh1{
		font-family: 'Raleway', sans-serif;
		padding: 1em 2em;
		font-size: 2rem;
		background: #222;
		color: #30ad1b;
		font-weight: 200;
		margin: 0.4em 0;
		position: fixed;
		bottom: 0px;
		width: 100%;
		
	  }
	  .pularintro{
		color:#878788;
		font-size: 24px;
		margin-top: 10px;
		cursor: pointer;
	  }
	</style>
    <!-- Favicons -->
	
</head>
<body class="noselect">
	<div class="rotate" onclick="removeRotateGif()"></div>

<div ng-controller="ctrl" id="mainCtrl" class="mainContent">
	<div class="navbar-fixed" ng-init="loadCtrl()">
		<nav class="nav-extended">
		 <div class="nav-wrapper container">
		  
		  <a data-activates="slide-out" id="mobileMenu" class="button-collapse"><i class="material-icons"  >menu</i></a>
		  <label class="mainHeader" ng-click="gettry()">fundologia.</label> 
		  <span id="subtitle">o fim do achismo!</span>
		  
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			  <li></li>
			<!-- <li><a href="#sobre">O que é?</a></li>
			<li><a href="#comofunciona">Como funciona</a></li> -->
		  </ul>
		  <ul class="side-nav" id="slide-out" >
			<!-- <li><a href="#sobre">O que é?</a></li>
			<li><a href="#comofunciona">Como funciona</a></li> -->
			<li class="show-on-smaller-992"  ng-click="mobSelectPage('main')"><a>Lista</a></li>
			<li class="show-on-smaller-992"  ng-click="mobSelectPage('filter')"><a>Filtro</a></li>
			<li class="show-on-smaller-992" ng-click="mobSelectPage('histogram')"><a>Detalhe do fundo</a></li>
			<li class="show-on-smaller-992"><a href='whatsapp://send?text=Pesquise e compare fundos de investimento: https://caiovitullo.github.io/fundologia/'>Compartilhar no WhatsApp</a></li>
		  </ul>
		 </div>
		</nav>
	</div>
	<div class="navbar-fixed hide-on-med-and-down " style="display:none;" >
		<nav class="nav-extended sub-menu">
			<div class="nav-wrapper container">
			
			</div>
		</nav>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col xl2 l2 s12 " id="leftMenu" ng-class="{'hide-on-med-and-down':mobileSelectedPage!='filter'}">
			<div class="section fixed ">
				
					<h5 class="filterTitle">Período </h5>
					<div class="tsHeight" >
							<p ng-repeat="filterItem in filters.Periodo.equals({visible:true}) track by filterItem.id" >
								<input class="with-gap" type="radio" name="filterPeriodo" ng-class="{'filled-in':filterItem.checked}" id="filterPeriodo_{{::filterItem.id}}" ng-value="filterItem.id" ng-change="$parent.changePeriodo()" ng-model="$parent.selectedPeriod"  />
								<label for="filterPeriodo_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
							</p>
							<!-- <p class="pUpper">
								<a class="linkSeeMore" ng-click="showAllFilterPeriodoOn = toggleFilter(showAllFilterPeriodoOn, filters.Periodo)" ng-class="{seeMore:showAllFilterPeriodoOn, seeLess:!showAllFilterPeriodoOn}"></a>
							</p> -->
					</div>
				
				<div class="divider"></div>
				<h5 class="filterTitle">Status:</h5>
				<div class="switch" ng-class="{blinkSwith:blinkLock, blinkMe:blinkLock}">
					<label>
					  <input type="checkbox" ng-model="filterHideClosed" ng-checked="filterHideClosed">
					  <span class="lever"></span>
					  <em  title="Mostrar apenas os fundos que estão liberados para aplicação." >Abertos apenas</em>
					</label>
				</div>
				<div class="switch" ng-class="{blinkSwith:blinkRestricao, blinkMe:blinkRestricao}">
					<label>
					  <input type="checkbox" ng-model="filterHideRestrict" ng-checked="filterHideRestrict">
					  <span class="lever"></span>
					  <em title="Mostrar apenas aqueles fundos que não são destinados à investidores qualificados">Sem restrição</em>
					</label>
				</div>

				
				

				<div class="divider"></div>
				<h5 class="filterTitle">Classificação</h5>
				<div class="tsHeight" ng-class="{tsOpened:showAllFilterTypeOn}">
					<p ng-repeat="filterItem in filters.Tipo.equals({visible:true})" >
						<input  type="checkbox"  ng-class="{'filled-in':filterItem.checked}" id="filterTipo_{{::filterItem.id}}" ng-model="filterItem.checked" ng-click="$parent.checkFilterTopShow(filters.Tipo,showAllFilterTypeOn, 'Classificacao')" ng-checked="filterItem.checked" />
						<label for="filterTipo_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
					</p>
					<p class="pUpper">
						<a class="linkSeeMore" ng-click="showAllFilterTypeOn = toggleFilter(showAllFilterTypeOn, filters.Tipo)" ng-class="{seeMore:showAllFilterTypeOn, seeLess:!showAllFilterTypeOn}"></a>
					</p>
				</div>
				

				<div class="divider"></div>

				<h5 class="filterTitle">
					Aplicação inicial
				</h5>
				<p class="checkList" ng-repeat="filterItem in filters.InitialValue.equals({visible:true})" >
						<input type="checkbox" ng-click="$parent.changeInitialValue(filterItem)"  ng-class="{'filled-in':filterItem.checked}"  id="filterInitValue_{{filterItem.id}}" ng-model="filterItem.checked" ng-checked="filterItem.checked" />
						<label for="filterInitValue_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
				</p>
				<p class="pUpper">
					<a class="linkSeeMore" ng-click="showAllFilterInitValueOn = toggleFilter(showAllFilterInitValueOn, filters.InitialValue)" ng-class="{seeMore:showAllFilterInitValueOn, seeLess:!showAllFilterInitValueOn}"></a>	
				</p>
				<label title="veja mais informaçoes sobre Aplicação inicial." ng-click="openChart('Aplicação inicial', 'initialValue', 'Será que um fundo de investimento que tem uma aplicação inicial maior tambêm terá um retorno maior?')">
					<i  class="material-icons tiny " >insert_chart</i>
					Gráfico Aplic. Inicial vs Rentabilidade
				</label>

				<div class="divider"></div>

				<h5 class="filterTitle">
					Resgate em até: 
				</h5>
				<p class="sliderTitle sliderColor"><em ng-show="withdrawDays<100">em até </em>{{withdrawDays}} dia{{withdrawDays!=1?'s':''}} <em ng-show="withdrawDays==100"> ou mais</em></p>
				<p class="range-field sliderP">
					<input type="range" ng-model="withdrawDays"  min="0" max="100" />
				</p>
				<label title="Pode existir alguma relação entre o tempo para resgate e a rentabilidade?" ng-click="openChart('Resgate', 'withdrawDays', 'Pode existir alguma relação entre o tempo para resgate e a rentabilidade?')">
					<i  class="material-icons tiny">insert_chart</i> 
					Gráfico Resgate vs Rentabilidade
				</label>
				

				<div class="divider"></div>

				<h5 class="filterTitle">
					Taxa de Adm até: 
				</h5>
				<p class="sliderTitle sliderColor"><em ng-show="admTx<4">até </em> {{admTx}}% <em ng-show="admTx==4"> ou mais</em></p>
				<p class="range-field sliderP">
					<input type="range" ng-model="admTx"  min="0" max="4" step="0.1" />
				</p>
				<label title="Os fundos com maior taxa Administrativa tiveram rendimento melhor nos últimos meses? Este gráfico vai te ajudar a descobrir!" ng-click="openChart('Taxa Administrativa', 'admTax', 'Os fundos que cobram mais taxa Administrativa tiveram rendimento melhor nos últimos meses? Este gráfico vai te ajudar a descobrir!')">
					<i class="material-icons tiny " >insert_chart</i>
					Gráfico Taxa adm vs Rentabilidade
				</label>

				<div class="divider"></div>

				<h5 class="filterTitle">
					Volatilidade: 
				</h5>
				<p class="sliderTitle sliderColor"><em ng-show="volatilidade<maxVolatilidade">até </em> {{volatilidade}}% <em ng-show="volatilidade==maxVolatilidade"> ou mais</em></p>
				<p class="range-field sliderP">
					<input type="range" ng-model="volatilidade"  min="0" max="{{maxVolatilidade}}" step="0.5" />
				</p>
				<label title="Risco vs Retorno. Até quanto estou disposto a me arriscar?" ng-click="openChart('Volatilidade', 'volatilidadeAnual', 'Risco vs Retorno. Até quanto estou disposto a me arriscar?')">
					<i class="material-icons tiny " >insert_chart</i>
					Gráfico Volatilidade vs Rentabilidade
				</label>

				<div class="divider"></div>

				<h5 class="filterTitle">
					Patrimônio até:
				</h5>
				<p class="checkList" ng-repeat="filterItem in filters.volume.equals({visible:true})" >
						<input type="checkbox"  ng-class="{'filled-in':filterItem.checked}" id="filterVolume_{{::filterItem.id}}" ng-click="checkFilterTopShow(filters.volume,showAllFilterVolumeOn, 'Volume')" ng-model="filterItem.checked" ng-checked="filterItem.checked" />
						<label for="filterVolume_{{::filterItem.id}}" ng-bind="::filterItem.Title">Renda Fixa</label>
				</p>
				<p class="pUpper">
					<a class="linkSeeMore" ng-click="showAllFilterVolumeOn = toggleFilter(showAllFilterVolumeOn, filters.volume)" ng-class="{seeMore:showAllFilterVolumeOn, seeLess:!showAllFilterVolumeOn}"></a>	
				</p>
				<label title="Este gráfico lhe ajudará a entender se o volume de um fundo pode impactar no seu rendimento." ng-click="openChart('Patrimônio', 'volume', 'Fundo que cobra mais taxa Administrativa rende mais?')">
					<i class="material-icons tiny " >insert_chart</i>
					Gráfico Patrimônio vs Rentabilidade
				</label>
				
				<a ng-click="mobApplyFilter()" ng-show="mobileSelectedPage=='filter'" class="waves-effect waves-light btn-large w100">Aplicar filtros</a>
					
			</div>
			
		</div>
		<div class="col xl8 l8 m12 s12 " ng-hide="mobileSelectedPage != 'main'">
			<section class="row" id="tables">
				<div >
					<div class="col s12  head-form ">
						<div class="input-field ">
							<div class="search-wrapper card">
								<input class="bbn" type="text" ng-model="searchTxt" id="icon_prefix">
								<i class="iconInside material-icons" ng-show="searchTxt.length==0">search</i>
								<i class="iconInside material-icons" ng-show="searchTxt.length>0" title="limpar" ng-click="searchTxt=''">clear</i>
								<label for="icon_prefix" style="left:10px;" >Pesquise e compare fundos de investimento</label>  
							</div>
							<!-- <input id="icon_prefix" type="text" ng-model="searchTxt" class="validate"><i class="material-icons ">search</i>
							<label for="icon_prefix" ng-bind="::searchFieldTxt">Pesquise e compare os melhores fundos de investimento para o seu perfil</label>  -->
						</div>
					
					</div>
					<div class="col s12 noPadding">
						<div class="row">
							
							<div class="input-field col m12 s12 l12 noPadding minTableHeight">
							<table id="mainTable" class="highlight" ng-class="{comparandoFundo:fundsToCompare.length==1}">
								<thead >
									<tr>
										<th  class="hide-on-smaller-400 " ng-class="{currentSortCol:currentSortCol==0}" >
											<span ng-click="setCurrentSort(0)">Rank</span>
											<i class="tiny material-icons"  title="Quer entender melhor nosso ranking? Clique aqui." ng-click="showRankDialog()" >info_outline</i> 
										</th>
										<th style="text-align:left;"  ng-class="{currentSortCol:currentSortCol==1}" >Fundo</th>
										<th ng-click="setCurrentSort(2)" ng-class="{currentSortCol:currentSortCol==2}" class="hide-on-small-and-down "  title="Quantidade de meses (em porcentagem) que o fundo teve resultado positivo.&#10;Clique para ordenar">
											Meses positivo
										</th>
										<th ng-click="setCurrentSort(3)" ng-class="{currentSortCol:currentSortCol==3}" class=" hide-on-small-and-down "  title="Soma dos ganhos nos meses positivos dividivo pela soma das perdas nos meses negativos.&#10;Clique para ordenar" >Rel. Ganho/ Perda</th>
										<th ng-click="setCurrentSort(4)" ng-class="{currentSortCol:currentSortCol==4}" class="show-column-largar-1200" title="Quantidade de meses(em porcetagem) que o fundo teve rendimento superior ao CDI .&#10;Clique para ordenar ">Meses acima CDI</th>
										<th ng-click="setCurrentSort(5)" ng-class="{currentSortCol:currentSortCol==5}" class="hide-on-small-and-down" title="Volatilidade anualizada referente aos {{filters.PeriodoTitle()}}.&#10;Clique para ordenar">Volatilidade</th>
										<th ng-click="setCurrentSort(6)" ng-class="{currentSortCol:currentSortCol==6}" class="show-column-largar-1300" title="Índice Sharpe CDI {{filters.PeriodoTitle()}} &#10;Quanto de retorno foi entregue acima do CDI em razão do risco assumido.&#10; Clique para ordenar.">Sharp CDI</th>
										<th ng-click="setCurrentSort(7)" ng-class="{currentSortCol:currentSortCol==7}" class="hide-on-smaller-400" title="Taxa Administrativa.&#10;Clique para ordenar">Tx Adm</th>
										<th ng-click="setCurrentSort(8)" ng-class="{currentSortCol:currentSortCol==8}" title="Rentabilidade acumulada nos {{filters.PeriodoTitle()}}.&#10;Clique para ordenar">Rentabilidade período</th>
										
									</tr>
								</thead>
		
								<tbody>
									<tr class="tableRow"
										ng-class="{hoverRow:row.uniqueID==$parent.currentDetailRow, fullsquare:row.selectedToCompare}" 
										ng-repeat="row in getMainList()" 
										ng-click="selectRow(row)"
										ng-mouseover="showRowDetail(row)">
										<td ng-class="{'acao':row.info.isAcao, 'rendaFixa':row.info.isRendaFixa, 'multiMercado':row.info.isMultimercado, 'cambial':row.info.isCambial, 'notset':row.info.isNotSet}" class="noselect hide-on-smaller-400" title="{{row.figures[selectedPeriod].totalRank}} pontos somados" ng-bind="row.figures[selectedPeriod].rank">Rank</td>
										<td class="cutText noselect" >
											<span title="{{row.name}}" class="fundName" ng-click="openRankDialog(row)"  title="Tabela de rentabilidade completa!">{{row.name}}</span>
											<i class="colorIcon tiny material-icons " ng-show="row.info.restrict" ng-mouseover="$parent.blinkRestricao=true" ng-mouseleave="$parent.blinkRestricao=false"  title="Fundo destinado à investidores qualificados.&#10;Ative o filtro 'Sem restrição' no menu lateral esquerdo para ver apenas os fundos que não são restritos apenas à investidores qualificados.">monetization_on</i>
											<!-- <i class="hide-on-small-and-down colorIcon tiny material-icons hidenIcon "  >info_outline</i>  -->
											<i class="colorIcon tiny material-icons " ng-mouseover="$parent.blinkLock = true" data-ng-mouseleave="$parent.blinkLock = false" ng-show="row.info.isClosed"  title="Fundo fechado.&#10;Ative o filtro 'Abertos apenas' no menu lateral esquerdo para ver apenas os fundos que estão disponíveis para aplicação.">lock</i>
											<i class="hide-on-small-and-down colorIcon small material-icons hidenIcon compareIcon " ng-click="rowClick(row, this)"   title="Comparare este fundos com outros!">compare_arrows</i>
										</td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].posNegCountRate | percentage:2">Eclair</td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].posNegAvgRate"></td>
										<td class="noselect show-column-largar-1200" ng-bind="row.figures[selectedPeriod].monthAboveCDI|percentage:2"></td>
										<td class="noselect hide-on-small-and-down" ng-bind="row.figures[selectedPeriod].volatilidadeAnual|percentage:2"></td>
										<td class="noselect show-column-largar-1300" ng-bind="row.figures[selectedPeriod].sharpCDI"></td>
										<td class="noselect hide-on-smaller-400" ng-bind="row.info.admTax| percentage:2"></td>
										<td class="noselect" ng-bind="row.figures[selectedPeriod].performance|percentage:2"></td>
									</tr>
									
								</tbody>
								</table>
								<p ng-show="hasMoreLines==true">
									<a class="pointer" ng-click="showMore()">ver mais</a>
								</p>
								<div ng-show="noResult == true && searchTxt.length > 0" class="tdNotFound">
									<p>Não encontrou o fundo que gostaria?</p>
									<p>
										<img src="img/shame.png"/>
									</p>
									<p>Use a hashtag <i>#faltouEsseFundo</i> nos comentários abaixo que nos vamos atras dele para você! </p>
									<p><i>Obs: So incluímos fundos com no mínimo 12 meses.</i></p>
								</div>	
								<p class="tdNotFound" ng-show="noResult == true && searchTxt.length == 0"></p>
							</div>
						</div>
						<div class="row"  ng-show="mobileSelectedPage =='main'" >
							<p class="psmall">Os comentários são de responsabilidade exclusiva de seus autores e não representam a opinião deste site</p>
							<div class="">
									<div id="disqus_thread"></div>
									<script>
									
									/**
									*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
									*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
									/*
									var disqus_config = function () {
									this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
									this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
									};
									*/
									(function() { // DON'T EDIT BELOW THIS LINE
									var d = document, s = d.createElement('script');
									s.src = 'https://fundologia.disqus.com/embed.js';
									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
									})();
									</script>
									<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
																
							</div>
						</div>
					
				</div>
			</section>	
			
		</div>
		<div class="col xl2 l2 s12 rightColor fixedColumn r0" ng-class="{'hide-on-med-and-down':mobileSelectedPage!='histogram'}" id="rightMenu">
				<div class="section fixed " id=rightmenu>
					
					<label title="{{currentRow.name}}" class="currentName">{{currentRow.name}}</label>
					

					<h5 class="filterTitle ">
						Aplicação inicial: 
					</h5>
					<label class="labelTitle minH" ng-bind="currentRow.info.initialValue|currency:'R$'"></label>
					<h5 class="filterTitle ">
						Taxa Adm: 
					</h5>
					<label class="labelTitle minH" ng-bind="currentRow.info.admTax|percentage"></label>
					<h5 class="filterTitle ">
						Cotização: 
					</h5>
					<label class="labelTitle minH" ng-bind="currentRow.info.cotizacaoTime"></label>
					<h5 class="filterTitle ">
						Permanência sugerida: 
					</h5>
					<label class="labelTitle minH" title="Clique aqui para entender melhor">
						{{getFromCurrentFigure('bestInterval')}} meses
						<i class="tinySmall material-icons" ng-click="showIntervalDialog()">launch</i>
					</label>
					
					<div class="divider"></div>
					<h5 class="filterTitle " ng-bind="filters.Periodo[selectedPeriod].Title"></h5>
					<div  ng-class="{invisible:currentRow.values==null}" id="horizontalScollParent">
						<div class="horizontal-scroll-wrapper squares" id="rankHorizontal" ng-mouseover="valueHover()" >
							<div ng-dblclick="openRankDialog()" ng-repeat="m in periodName.take(filters.Periodo[selectedPeriod].len) track by $index">
								{{m}}<br/> {{currentRow.rank[$index]}}<sup>ᵒ</sup><br/>{{currentRow.values[$index]|percentage:2}}
							</div>
						</div>
					</div>
					<div class="divider"></div>

					
				
					<label>Veja este fundo comparado aos outros fundos 
						<em class="isRendaFixa" ng-show="currentRow.info.classificationType==0">de Renda Fixa </em>	
						<em class="isMultimercado" ng-show="currentRow.info.classificationType==1">Multimercado </em>	
						<em class="isAcao" ng-show="currentRow.info.classificationType==2">de Ação </em>
						nos <em ng-bind="filters.Periodo[selectedPeriod].Title.toLowerCase()"></em>:
					</label>
					

					<my-histogram
						ng-if="show_histogramPerformance == true"
						chart-title="Rendimento"
						fn="histClick(hist,item, property, type)"
						histogram="histogramPerformance"
						value="getFromCurrentFigure('performance')"
						zscore = "getZScore('performance', histogramPerformance)"
						classification="getFromCurrentRow('classificationType')"
						property="performance"
						show-chart="false"
						type="figure"
						sufix="%"
						currentrow="currentRowHistPerformance"></my-histogram>
			
					<my-histogram
						ng-if="show_histogramStDev == true"
						chart-title="Volatilidade"
						histogram="histogramStDev"
						value="getFromCurrentFigure('volatilidadeAnual')"
						classification="getFromCurrentRow('classificationType')"
						show-chart="true"
						property="volatilidadeAnual"
						type="figure"
						sufix="%"
						tooltip="Quanto mais a rentabilidade de um fundo varia em um determinado período, maior o risco desse fundo.Mas, vale a pena correr esse risco?Clique e confira!"
						currentrow="currentRowHistStDev"></my-histogram>
					
					<my-histogram
						ng-if="show_histogramPosNegAvgRate == true"
						chart-title="Rel. Ganho/Perda"
						show-chart="true"
						value="getFromCurrentFigure('posNegAvgRate')"
						classification="getFromCurrentRow('classificationType')"
						tooltip="Soma dos ganhos nos meses positivos dividivo pela soma das perdas nos meses negativos. Clique e confira!"
						histogram="histogramPosNegAvgRate"
						property="posNegAvgRate"
						type="figure"
						currentrow="currentRowHistPosNegAvgMonth"></my-histogram>
					

					<my-histogram
						ng-if="show_histogramCorrelIbov == true"
						chart-title="Correlação IBOV"
						histogram="histogramCorrelIbov"
						correlation="current_correlationIbov"
						value="getFromCurrentFigure('correlationIbov')"
						classification="getFromCurrentRow('classificationType')"
						show-chart="true"
						property="correlationIbov"
						type="figure"
						tooltip="Quanto maior a correlação com o IBOV, maior influência o índice exerce sobre o fundo. A questão é, quanto maior a correlação, maior a rentabilidade? Clique e confira!"
						currentrow="currentRowHistCorrelIbov"></my-histogram>
						
					
					<my-histogram
						ng-if="show_histogramCorrelSP500 == true"
						chart-title="Correlação S&P500"
						histogram="histogramCorrelSP500"
						correlation="current_correlationSP500"
						value="getFromCurrentFigure('correlationSP500')"
						classification="getFromCurrentRow('classificationType')"
						show-chart="true"
						property="correlationSP500"
						type="figure"
						tooltip="Quanto maior a correlação com o S&P500, maior influência o índice exerce sobre o fundo. Essa correlação influencia proporciomalmente na rentabilidade? Clique e confira!"
						currentrow="currentRowHistCorrelSP500"></my-histogram>
						
					<my-histogram
						ng-if="show_histogramCorrelCDI == true"
						chart-title="Correlação CDI"
						value="current_correlationCDI/100.0"
						classification="getFromCurrentRow('classificationType')"
						show-chart="false"
						correlation="current_correlationCDI"
						histogram="histogramCorrelCDI"
						property="correlationCDI"
						type="figure"
						tooltip="Quanto maior a correlação com o CDI, maior influência o índice exerce sobre o fundo. Como se comportam os fundos com maior correlação? Clique e confira!"
						currentrow="currentRowHistCorrelCDI"></my-histogram>
					
					
					<my-histogram
						ng-if="show_histogramAboveCDI == true"
						histogram="histogramAboveCDI"
						chart-title="Meses acima CDI"
						show-chart="true"
						value="getFromCurrentFigure('monthAboveCDI')"
						classification="getFromCurrentRow('classificationType')"
						property="monthAboveCDI"
						type="figure"
						sufix="%"
						tooltip="Quantidade de meses (em porcentagem) que o fundo teve resultado superior ao CDI. Clique e confira!"
						currentrow="currentRowAboveCDI"></my-histogram>

					<my-histogram
						ng-if="show_histogramAboveIBOV == true"
						histogram="histogramAboveIBOV"
						chart-title="Meses acima IBOV"
						show-chart="true"
						value="getFromCurrentFigure('monthsAboveIBOV')"
						classification="getFromCurrentRow('classificationType')"
						property="monthsAboveIBOV"
						type="figure"
						sufix="%"
						tooltip="Quantidade de meses (em porcentagem) que o fundo teve resultado superior ao Ibovespa. Clique e confira!"
						currentrow="currentRowAboveIBOV"></my-histogram>
					

					<my-histogram
						ng-if="show_histogramPosNegRate == true"
						histogram="histogramPosNegRate"
						chart-title="Meses positivos"
						show-chart="true"
						value="getFromCurrentFigure('posNegCountRate')"
						classification="getFromCurrentRow('classificationType')"
						property="posNegCountRate"
						type="figure"
						sufix="%"
						tooltip="Quantidade de meses (em porcentagem) que o fundo teve resultado positivo. Clique e confira!"
						currentrow="currentRowHistPosNegMonth"></my-histogram>
				
					<!-- <my-histogram
						ng-if="show_histogramTxAdm == true"
						chart-title="Taxa Administrativa"
						show-chart="true"
						value="getFromCurrentRow('admTax')"
						classification="getFromCurrentRow('classificationType')"
						histogram="histogramTxAdm"
						property="admTax"
						type="info"
						sufix="%"
						tooltip="Fundo que cobra mais taxa Administrativa rende mais? Este gráfico vai te ajudar a descobrir!"
						currentrow="currentRowTxAdm"></my-histogram> -->
					
					<my-histogram
						ng-if="show_histogramAvg == true"
						chart-title="Média Rendimento"
						histogram="histogramAvg"
						value="getFromCurrentFigure('average')"
						classification="getFromCurrentRow('classificationType')"
						show-chart="true"
						property="average"
						type="figure"
						sufix="%"
						tooltip="Rendimento médio no período"
						currentrow="currentRowHistAvg"></my-histogram>

					<div class="divider"></div>
					
					<h5 class="filterTitle ">Rentabilidade acumulada:</h5>
					<div id="curve_chart" style="min-height:120px;" ></div>
					
					<div class="divider"></div>
					
					<h5 class="filterTitle ">Rank mês a mês:</h5>
					<div id="ranking_chart" style="min-height:120px;" ></div>
					<label class="histFooteLabel mt5" ng-click="showRankDialog()">
						<i class="tiny material-icons"  >info_outline</i> Entenda nosso ranking.
					</label>
					
					
					

					<a ng-click="mobApplyFilter()" ng-show="mobileSelectedPage=='histogram'"  class="waves-effect waves-light btn-large w100">Voltar</a>
				</div>
		</div>
	</div>


	
	
	
	<div id="modal1" class="modal" >
		<div class="modal-content">
		  <h4>{{currentCharTitle}} <em ng-show="selectedPeriod <= 2">nos </em><em ng-bind="::filters.Periodo.first({id:selectedPeriod}).Title"></em></h4>
		  <div id="chart_txdm_scatter" style="width:100%;"></div>
		  <p class="chartFooter" ng-bind="currentChartText"></p>
		  <p class="chartFooter" ng-show="showExtraChartFooter">Clique nos icones <i ng-mouseover="showChartIcons()" ng-mouseleave="hideChartIcons()" class="small material-icons"  >insert_chart</i> e confira os outros gráficos que existem no site.</p>
		</div>	
	</div>

	<div id="modaltable" class="modal" >
		<div class="modal-content">
			<h5 ng-bind="currentRow.name"></h5>
			<div class="row">
				<div class="col m6 l6 xl6 lblResume">
					<label ng-mouseover="showMesesPositivos=true;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Meses positivos: </span> <em ng-bind="currentRow.figures[selectedPeriod].posNegCountRate|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=true;showHistItem=false;"><span class="spLabel">Meses negativos: </span> <em ng-bind="100 - currentRow.figures[selectedPeriod].posNegCountRate|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Meses acima do CDI:</span> <em ng-bind="currentRow.figures[selectedPeriod].monthAboveCDI|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Meses acima do IBOV:</span> <em ng-bind="currentRow.figures[selectedPeriod].monthsAboveIBOV|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=true;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Média rentabilidade positiva:</span> <em ng-bind="currentRow.figures[selectedPeriod].positiveAvg|percentage:2"></em></label>
					<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=true;showHistItem=false;"><span class="spLabel">Média rentabilidade negativa:</span> <em ng-bind="currentRow.figures[selectedPeriod].negativeAvg|percentage:2"></em></label>
					
				</div>
				<div class="col m6 l6 xl6 lblResume">
						<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Índice Sharp IBOV:</span> <em ng-bind="currentRow.figures[selectedPeriod].sharpIbov"></em></label>
						<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Índice Sharp CDI:</span> <em ng-bind="currentRow.figures[selectedPeriod].sharpCDI"></em></label>
						<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Volatilidade anual:</span> <em ng-bind="currentRow.figures[selectedPeriod].volatilidadeAnual|percentage:2"></em></label>
						<label ng-mouseover="showMesesPositivos=false;showMesesNegativos=false;showHistItem=false;"><span class="spLabel">Desvio padrão mensal:</span> <em ng-bind="currentRow.figures[selectedPeriod].stdDev"></em></label>
						<rd-histogram ng-mouseover="showHistItem=true;"
							histogram="currentRow.figures[selectedPeriod].histogram"
							sufix="%">
						</rd-histogram>
				</div>
			</div>
			<div class="row "ng-repeat="y in groupedRankList">
				<table id="tableRank">
					<caption>20{{y.year}}</caption>
					<thead>
						<tr>
							<th style="width:8%;" ng-repeat="item in y.data" ng-bind="::item.label"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td ng-repeat="item in y.data track by $index" class=""  title="Posição no ranking (pontos)" ><span ng-show="item.value!=''">{{item.rank}}<sup>ᵒ</sup>({{item.point}})</span></td>
							
						</tr>
						<tr>
							<td class="{{$parent.histogram_info.class}}" ng-repeat="item in y.data track by $index" ng-bind="::item.value|percentage:2" 
							ng-class="{
										highlightPos:(showMesesPositivos && item.value>=0),
										highlightNeg:(showMesesNegativos && item.value<0),
										histInfo:(showHistItem && item.value >= histogram_info.low && item.value <= histogram_info.high)
									}
									"></td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	<div id="modalCustomText" class="modal " >
		<div class="modal-content">
			<h5 ng-bind="titleDialogHtml"></h5>
			<div class="row" ng-bind-html="textDialogHtml|trusted">

			</div>
		</div>
	</div>
	<div id="modalRankingDialog" class="modal" >
		<div class="modal-content">
			<h5>Ranking</h5>
			<div class="row">
				<div class="content">
					<section>
						<p>Ranking dos fundos feito mês a mês. </p>
						<p> Para cada mês lista-se os fundos de forma decrescente de acordo com a rentabilidade </p>
						<p> O primeiro fundo da lista será aquele com melhor rentabilidade no período e receberá nota 1, o segundo 2 e assim sucessivamente... </p>
						<p> No final, soma-se a nota de todos os meses para cada fundo </p>
						<p> Ou seja, quanto menor a soma, melhor o fundo</p>

						<h5>Confira os primeiros 10 lugares no ranking dos {{filters.Periodo[selectedPeriod].Title.toLowerCase()}}</h5>
					</section>
					<section >
						
						<table id="rankTable" class="centered">
							<thead>
								<th></th>
								<th class="thNoPadding">
									<i class="material-icons tinySmall" ng-class="{iconOn:showPrevtRankTableColumns, iconOff:showPrevtRankTableColumns==false}"  ng-click="prevRankTableColumns()" >chevron_left</i>
								</th>
								<th class="thWidth" ng-repeat="c in ranktableColumns" >{{c+1}}<sup>ᵒ</sup>lugar</th>
								<th class="thNoPadding">
									<i class="material-icons tinySmall" ng-class="{iconOn:showNextRankTableColumns, iconOff:showNextRankTableColumns==false}" ng-click="nextRankTableColumns()" >chevron_right</i>
								</th>
							</thead>
							<tbody>
								<tr ng-repeat="h in rankingFullList.take(12)">
									<td ng-bind="_monthNames[h.month-1] + '/' + h.year"></td>
									<td></td>
									<td ng-repeat="c in ranktableColumns" ng-class="{highlightCell:$parent.$parent.rankingTableCell==h.list[c].uniqueID}" ng-mouseover="$parent.$parent.rankingTableCell=h.list[c].uniqueID">
										<label ng-bind="h.list[c].name"></label>
										<label class="fwb" ng-bind="h.list[c].performance|percentage"></label>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>
				</div>
			</div>

		</div>
	</div>
	<div id="modalInterval" class="modal" >
		<div class="modal-content">
			
			<label ng-show="interval_hover != null" class="defaultColor" style="font-size:0.9rem;">
					Quem permaneceu <strong>{{interval_hover.length}}</strong> meses no fundo, teve um rendimento <i>mensalizado</i><sup>*</sup> médio de <strong>{{interval_hover.montlyAvg}}%</strong>.Ficou acima do CDI {{interval_hover.aboveCdi|percentage:2}} das vezes e acima do IBOV {{interval_hover.aboveIbov|percentage:2}} das vezes. {{interval_hover.count}} análises feitas
			</label>
			<div class="row">
				<div class="col s12 m12 l12 x12 lblResume">
					<table class="highlight">
						<thead>
							<tr>
								<th>Permanência(meses)</th>
								<th>Rendimento mensalizado médio</th>
								<th>Ficou acima do CDI</th>
								<th>Ficou acima do IBOV</th>
								<th>Análises</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in currentRow.figures[selectedPeriod].intervalResumes" ng-mouseover="$parent.interval_hover=item">
								<td ng-bind="item.length"></td>
								<td ng-bind="item.montlyAvg"></td>
								<td>{{item.aboveCdi|percentage:2}} das vezes</td>
								<td ng-show="item.aboveIbov > 0">{{item.aboveIbov|percentage:2}} das vezes</td> <td ng-show="item.aboveIbov==0" >nunca</td>
								<td ng-bind="item.count"></td>
							</tr>
						</tbody>
					</table>
					
					<label>Comparação referente aos {{filters.Periodo[selectedPeriod].Title.toLowerCase()}}</label>
					
				</div>
			</div>
			<div class="row">
				<div id="chart_bestInterval" style="float:left;"></div>
				<div id="chart_bestInterval_line" style="float:left;"></div>
			</div>
		</div>
	</div>

	<div id="modalCompare" class="modal wideModal" >
		<div class="modal-content">
			<div class="row">
				<p>Comparação referente aos {{filters.Periodo[selectedPeriod].Title.toLowerCase()}}</p>
			</div>
			<div class="row">
				<div class="col s12 m12 l8 x7 xl6 lblResume">
					<label class="compareFundName">
						<span class="spLabel">Fundos: </span>
							<em ng-bind="fundsToCompare[0].name"></em>
							<em ng-bind="fundsToCompare[1].name"></em>
					</label>
				
					<!-- <label><span class="spLabel">Classificação:</span> <em ng-bind="fundsToCompare[0].info.classification"></em></label>
					<label><span class="spLabel">Cotização em:</span> <em ng-bind="fundsToCompare[0].info.cotizacaoTime"></em></label>
					<label><span class="spLabel">Custódia:</span> <em ng-bind="fundsToCompare[0].info.custodia"></em></label>
					<label><span class="spLabel">Gestor:</span> <em ng-bind="fundsToCompare[0].info.gestor"></em></label> -->
					<label ng-class={compareHighlight:compareLineHover==-1} ng-mouseover="compareLineHover=-1">
						<span class="spLabel">Rentabilidade no período: </span>
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].performance|percentage:2"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].performance|percentage:2"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==-2} ng-mouseover="compareLineHover=-2">
						<span class="spLabel">Soma de pontos no ranking: </span>
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].totalRank"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].totalRank"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==0} ng-mouseover="compareLineHover=0">
						<span class="spLabel">Meses positivos: </span>
						<em ng-bind=" fundsToCompare[0].figures[selectedPeriod].posNegCountRate|percentage:2"  ></em>
						<em ng-bind=" fundsToCompare[1].figures[selectedPeriod].posNegCountRate|percentage:2"  ></em>
					  </label>
					<label ng-class={compareHighlight:compareLineHover==1} ng-mouseover="compareLineHover=1">
						<span class="spLabel">Meses negativos: </span>
						 <em ng-bind="100 - fundsToCompare[0].figures[selectedPeriod].posNegCountRate|percentage:2"></em>
						 <em ng-bind="100 - fundsToCompare[1].figures[selectedPeriod].posNegCountRate|percentage:2"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==2} ng-mouseover="compareLineHover=2">
						<span class="spLabel">Média rentabilidade positiva:</span> 
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].positiveAvg|percentage:2"></em>
						 	<em ng-bind="fundsToCompare[1].figures[selectedPeriod].positiveAvg|percentage:2"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==3} ng-mouseover="compareLineHover=3">
						<span class="spLabel">Média rentabilidade negativa:</span>
						 <em ng-bind="fundsToCompare[0].figures[selectedPeriod].negativeAvg|percentage:2"></em>
						 <em ng-bind="fundsToCompare[1].figures[selectedPeriod].negativeAvg|percentage:2"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==8} ng-mouseover="compareLineHover=8">
						<span class="spLabel">Média rendimento:</span> 
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].average"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].average"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==4} ng-mouseover="compareLineHover=4">
						<span class="spLabel">Volatilidade:</span> 
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].volatilidadeAnual|percentage:2"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].volatilidadeAnual|percentage:2"></em>
					</label>

					<label ng-class={compareHighlight:compareLineHover==5} ng-mouseover="compareLineHover=5">
						<span class="spLabel">Correlação CDI:</span> 
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].correlationCDI"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].correlationCDI"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==6} ng-mouseover="compareLineHover=6">
						<span class="spLabel">Correlação IBOV:</span> 
							<em ng-bind="fundsToCompare[0].figures[selectedPeriod].correlationIbov"></em>
							<em ng-bind="fundsToCompare[1].figures[selectedPeriod].correlationIbov"></em>
					</label>
					<label ng-class={compareHighlight:compareLineHover==7} ng-mouseover="compareLineHover=7">
							<span class="spLabel">Correlação SP&500:</span> 
								<em ng-bind="fundsToCompare[0].figures[selectedPeriod].correlationSP500"></em>
								<em ng-bind="fundsToCompare[1].figures[selectedPeriod].correlationSP500"></em>
							</label>
					<label ng-class={compareHighlight:compareLineHover==9} ng-mouseover="compareLineHover=9">
						<span class="spLabel">Investimento inicial:</span> 
							<em ng-bind="fundsToCompare[0].info.initialValue|currency:'R$'"></em>
							<em ng-bind="fundsToCompare[1].info.initialValue|currency:'R$'"></em>
						</label>
					<label ng-class={compareHighlight:compareLineHover==10} ng-mouseover="compareLineHover=10">
						<span class="spLabel">Taxa de Administração:</span> 
							<em ng-bind="fundsToCompare[0].info.admTax|percentage:2"></em>
							<em ng-bind="fundsToCompare[1].info.admTax|percentage:2"></em>
						</label>
					<br/>
					<label>
						<span class="spLabel">Histograma:</span>
						<rd-histogram class="histLine" style="float:right;"
							histogram="fundsToCompare[0].figures[selectedPeriod].fixedHistogram"
							sufix="%">
						</rd-histogram>
						<rd-histogram class="histLine"
							histogram="fundsToCompare[1].figures[selectedPeriod].fixedHistogram"
							sufix="%">
						</rd-histogram>
					</label>
					
				</div>
				<div class="col s12 m12 l4 x5 xl6" id="chartCompareDiv">
					<div id="chart_compare"></div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="floating" ng-show="fundsToCompare.length > 0">
			<i class="small material-icons closeFixedIcon" ng-click="closeCompareDialog()"  title="Fechar" >cancel</i> 
		<div class="selectedFund" ng-class="{fullsquare:fundsToCompare.length >=1,emptysquare:fundsToCompare.length <=0 }" ng-click="compareFundItemClick(0)">
			<label ng-bind="::fundsToCompare[0].name" ></label>
		</div>
		<div class="selectedFund" style="margin-left:5px;" ng-class="{fullsquare:fundsToCompare.length >=2,emptysquare:fundsToCompare.length <=1 }">
			<label ng-show="fundsToCompare.length <= 1">
				<i class="medium material-icons "  title="Selecione outro fundo" >compare_arrows</i>
			</label>
			<label ng-show="fundsToCompare.length > 1" ng-click="compareFundItemClick(1)" ng-bind="::fundsToCompare[1].name">Selecione outro fundo</label>
		</div>
		<button ng-click="openCompareDialog()" ng-disabled="fundsToCompare.length <= 1" class="waves-effect waves-light btn">Comparar</button>
	</div>

</div>
<footer class="row">
	<div class="container">
		<p>
				O Fundologia tem como objetivo auxiliar na pesquisa de fundos de investimento. O ranking, assim como todo o conteudo do site, NÃO são recomendação de compra e/ou investimento. A decisão é responsabilidade do investidor. 

		</p>
		<p>
				A rentabilidade passada não representa garantia de resultados futuros. As informações deste site foram obtidas a partir de fontes disponíveis publicamente. O Fundologia não garante sua atualização, exatidão , precisão, integridade ou veracidade, tampouco se responsabiliza pela publicação acidental de dados incorretos.
		</p>
	</div>
</footer>


<div id="preloading" onclick="skipIntroduction()">
	
<h1 class="txtRotateh1"> Nome: 
  <span
     class="txt-rotate"
     data-period="800"
     data-rotate='[ "investopédia", "investolando", "investlandia", "fundomania", "fundometria", "FUNDOLOGIA!"]'></span>
</h1>
<a class="pularintro" id="linkBoraProSite" style="display:none;">Pular introdução</a>

</div>
<script>
	
	var TxtRotate = function(el, toRotate, period) {
	  this.toRotate = toRotate;
	  this.el = el;
	  this.loopNum = 0;
	  this.period = parseInt(period, 10) || 300;
	  this.txt = '';
	  this.tick();
	  this.isDeleting = false;
	  this.stop = false;
	};
	function skipIntroduction(){
		if(typeof(window.finishedLoading) != 'undefined' && window.finishedLoading == true){
			window.introSkipped = true;
			window._rotate.stop = true;
			$('#preloading').hide();
		}
			
	}
	TxtRotate.prototype.tick = function() {
	  var i = this.loopNum % this.toRotate.length;
	  var fullTxt = this.toRotate[i];
	
	  if (this.isDeleting) {
		this.txt = fullTxt.substring(0, this.txt.length - 1);
	  } else {
		this.txt = fullTxt.substring(0, this.txt.length + 1);
	  }
	
	  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
	
	  var that = this;
	  var delta = 150 - Math.random() * 100;
	
	  if (this.isDeleting) { delta /= 2; }
	
	  if (!this.isDeleting && this.txt === fullTxt) {
		delta = this.period;
		this.isDeleting = true;
	  } else if (this.isDeleting && this.txt === '') {
		this.isDeleting = false;
		this.loopNum++;
		delta = 200;
	  }
		
	  if(this.stop == true || (i == this.toRotate.length-1 && this.txt.length==fullTxt.length)){
		skipIntroduction();
	  }else{
		setTimeout(function() {
			that.tick();
		  }, delta);
	  }
	  
	};
	
	//window.onload = function() {
		var fn = function(){
			var elements = document.getElementsByClassName('txt-rotate');
			for (var i=0; i<elements.length; i++) {
				var toRotate = elements[i].getAttribute('data-rotate');
				var period = elements[i].getAttribute('data-period');
				if (toRotate) {
					window._rotate =  new TxtRotate(elements[i], JSON.parse(toRotate), period);
				}
			}
			// INJECT CSS
			var css = document.createElement("style");
			css.type = "text/css";
			css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
			document.body.appendChild(css);
		}
		fn();
	  
	//};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	
	<script src="js/materialize.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="js/util.js"  charset="utf-8" ></script>
	<script src="js/dataManager.js"  charset="utf-8" ></script>
	<script src="js/histogram.js"  charset="utf-8" ></script>
	<script src="js/main.js"  charset="utf-8" ></script>
	<script src="js/init.js"></script>
	<!-- <script src="json/last24.js"></script>
	<script src="json/bigList.js"></script> -->
	   
</body>
<script id="dsq-count-scr" src="//fundologia.disqus.com/count.js" async></script>
</html>