/* ================ GERAL ================ */
body{
	overflow-x: hidden;
}
.mainContent{
	max-width: 2000px;
	margin: auto;
}
nav{
	background: #39495d;
}
.row{
	margin-bottom: 0 !important;
}
.line_svg{
	width: 100vw;
	height: 20vh;
	margin-top: -100px;
}
.topo{
	background: url('img/bg_topo.png') 50% no-repeat;
	background-size: cover;
    height: 250vh;
    width: 100%;
    margin-top: -100px;
}
.space{
	height: 43vh;
}
.sub-menu{
	background: none;
	box-shadow: none;
}
.btn-laranja{
	background: #fe9e0f;
    -webkit-box-shadow: 3px 3px #b97004;
            box-shadow: 3px 3px #b97004;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 20px !important;
    margin-right: 50px !important;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 45px;
}
.btn-laranja:hover, .btn-laranja:active, .btn-laranja:focus{
	background: #d3830c;
	-webkit-box-shadow: 3px 3px #975b03;
            box-shadow: 3px 3px #975b03;
}
.btn-verde{
	background: #1dcc0f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 20px !important;
    margin-right: 50px !important;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 45px;
}
.btn-verde:hover, .btn-verde:active, .btn-verde:focus{
	background: #19af0d;
}
.btn-marrom{
	background: #4a4025;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 20px !important;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 45px;
}
.btn-marrom:hover, .btn-marrom:active, .btn-marrom:focus{
	background: #3b331e;
}

footer{
	padding: 5% 0;
	background: #39495d;
	width: 100%;
    left: 0px;
    position: inherit;
}


/*MQ*/
@media (max-width: 768px){
	.space{
		height: 71vh;
	}
	#resultado{
		padding: 5% 0 35% 0 !important;
	}
}
/*MQ*/
/* ================ GERAL ================ */
/* ================ PÁGINA INICIAL ================ */
/*Itens montanha*/
.item_passo{
	color: #555;
}
.item_passo p{
	font-size: 0.8rem;
}
.item_passo .txt_passo{
	margin-left: 3% !important;
}
.row2{
	margin-right: -14vw !important;
    margin-top: 10vh;
}
.item2{
	margin-left: 150px !important;
    margin-top: -109px;
}
.txt_white{
	color: #fff;
}
#sobre{
	background: #428a2f;
	padding: 5% 0;
	color: #fff;
}
#comofunciona{
	padding: 5% 0;
	background: #397928;
	color: #fff;
}
/*Itens montanha*/
/*Cadastro*/
#cadastro{
	padding: 5% 0;
	color: #fff;
	background: #48902d; /* Old browsers */
	background: -moz-linear-gradient(top, #48902d 0%, #4b912c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #48902d 0%,#4b912c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #48902d 0%,#4b912c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48902d', endColorstr='#4b912c',GradientType=0 ); /* IE6-9 */
}
#cadastro .titulo{
	margin-bottom: 0;
}
.head-form{
	margin-bottom: 1%;
}
/*Cadastro*/
/*Como funciona*/
.titulo{
	color: rgb(136, 133, 133);
	font-variant: all-small-caps;
	margin-bottom: 30px;
}
.passo_n{
	margin: 0 2%;
	padding: 3% 4.5%;
	background: #fff;
	color: #55361e;
	border-radius: 30px;
	border:4px solid #55361e;
	font-size: 1.5rem;
	font-weight: 600;
}
.lista_comofunciona li{
	margin-bottom: 8%;
	white-space: nowrap;
}
/*Como funciona*/
/*outras seções*/
#veja, #explore, #fiqueatento{
	color: #fff;
	padding: 5% 0;
}
#explore{
	background: #316c21;
}
#veja{
	background: #2b611c;
	text-align: right;
}
#fiqueatento{
	background: #225813;
}
.flex-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-container div{
	margin-left: 0 !important;
}
/*outras seções*/
/* ================ PÁGINA INICIAL ================ */
/* ================ PÁGINA RESPOSTA ================ */
.topo_resposta{
	background: url('img/topo_resposta.png') 50% no-repeat;
	background-size: cover;
	height: 100vh;
}
.nota{
	padding: 5% 0;
	background: #719924; /* Old browsers */
	background: -moz-linear-gradient(top, #719924 0%, #397928 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #719924 0%,#397928 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #719924 0%,#397928 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#719924', endColorstr='#397928',GradientType=0 ); /* IE6-9 */
}
.container-arvores{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.arvores{
	background:url('img/arvore.png') 50% no-repeat;
	background-size: contain;
	height: 90vh;
	width: 70vw;
	margin-top:5%; 
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box-nota{
	background: #95ad21;
	padding:0 1%;
	text-align: center;
    width: 45vw;
	-ms-flex-item-align: end;
        align-self: flex-end;

}
.line{
	border:2px solid #769112;
	margin: 2%;
}
.arvores h1{
	color: #fff;
	font-size: 3vw;
	font-weight: 600;
}
.txt_green{
	color: #29581c;
}
/*resultado*/
#resultado{
	background:#29581c;
	color: #fff;
	padding: 5% 0 15% 0;
}
#resultado .titulo{
	margin-bottom: 0;
}
#nota{
	margin-top: 30vh;
}
.box-resultado{
	height: 60vh;
	overflow-y: scroll;
	background:#3d7d2c; 
}
.box-menor{
	height: 30vh;
}
.box-resultado::-webkit-scrollbar {
	background: #5b8f4c;
}
.box-resultado::-webkit-scrollbar-thumb {
	background: #29581c;
	border-right:1px solid #5b8f4c;
	border-left:1px solid #5b8f4c;
}
.lista-resultado li{
	padding: 0.5% 1%;
	font-weight: 300;
	color: #fff;
}
.lista-resultado li:hover{
	background:#adca1e;
	font-weight: 600;
	color: #29581c;
}
.btn-simule{
	margin-top: -130px;
}
#campo-nota{
	text-align: center;
    font-size: 3vw;
}
/*resultado*/
/* ================ PÁGINA RESPOSTA ================ */


.linkSeeMore, .linkHist{
	font-size:12px;
	cursor: pointer;
	font-style: italic;
	margin-right: 5px;
}
.linkSeeMore:hover{
	color: silver;
}
.linkHist::after{
	content: 'histograma'
}
.seeMore::after{
	content:'ver todos';
	
}
.seeLess::after{
	content:'ocultar';
	
}
.pUpper{
	margin-top:-10px;
}
.filterTitle{
	color: slategray;
	font-size: 1.14rem;
	margin: 0.62rem 0 0.256rem 0;
}
.filterHeader{
	
    text-align: right;
	font-size: 1.33rem;
	color: #333;
}
.labelTitle{
	font-size: 1rem;
}
.smallIcon{
	float: right;
}
.material-icons{
	vertical-align: middle;
	cursor: pointer;
}
.filterTitle .material-icons:hover{
	color: black;
}
.tsHeight p{
	
    transition:display  1.15s ease-out;
}
.tsOpened p{
	
    transition: display 1.25s ease-in;
}

.histFilter div{
	   
    text-align: center;
    height: 20px;
    
    background-color: tomato;
    color: white;
    
}

.cutText{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cambial{
	border-left: solid 3px rgb(1, 105, 1);
}
.multiMercado{border-left: solid 3px #ECA403;}
.isMultimercado{color: #ECA403;}

.isRendaFixa{color: #63A74A;}
.rendaFixa{border-left: solid 3px #63A74A;}

.acao{border-left: solid 3px #E94D20;}
.isAcao{color: #E94D20;}

.notset{
	border-left: solid 3px silver;
}

#mainTable tbody tr:first-child{
	margin-top: 1px;
}
#mainTable thead th{
	font-size: 12px;
	max-width: 60px;
	text-align: left;
	cursor: pointer;
	vertical-align: bottom;
	text-align: center;
}
.closeFixedIcon{
	position: absolute;
	right: -15px;
	top: -15px;
}
.histUl{
	width: 100%;
	height: 40px;
    width: 100%;
	border-radius: 2px;
	
    margin: 0.7rem 0 0.7rem 0;
    overflow: hidden;
}
.histUlBig{
	height: 60px;;
}
.histUl li{
	width: 9%;
	height: 60%;
	display: inline-block;
	background-color: silver;
	vertical-align: baseline;
	border-bottom: solid 1px silver;
	margin-left: 1px;
}
.histUl li.active{
	background-color: steelblue;
}
.histUl li:hover{
	background-color: rgb(50, 50, 50)
}
.histUl li.filter{
	background-color: orange;
}
.histInfo{
}
.histInfo.histInfoColor0{color: rgb(0,128,0);}
.histInfo.histInfoColor1{color: rgb(54,149,7);}
.histInfo.histInfoColor2{color: rgb(54,149,7);}
.histInfo.histInfoColor3{color: rgb(119,170,15);}
.histInfo.histInfoColor4{color: rgb(154,181,20);}
.histInfo.histInfoColor5{color: rgb(192,192,26);}
.histInfo.histInfoColor6{color: rgb(213,154,38);}
.histInfo.histInfoColor7{color: rgb(223,134,45);}
.histInfo.histInfoColor8{color: rgb(244,91,60);}
.histInfo.histInfoColor9{color: rgb(255,68,68);}

.pgrUl{
	width: 100%;
	height: 4px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.pgrUl li{
	width: 25%;
	height: 100%;
	
	display: inline;
	float: left;
}

.pgrNeg li:nth-child(1){
	background-color: #bcdcf1;
}
.pgrNeg li:nth-child(2){
	background-color: #6493be;
}
.pgrNeg li:nth-child(3),
.pgrNeg li:nth-child(4){
	background-color: #bcdcf1;
}

.pgrPos li:nth-child(1),
.pgrPos li:nth-child(2){
	background-color: #bcdcf1;
}
.pgrPos li:nth-child(3){
	background-color: #2333a5;
}
.pgrPos li:nth-child(4){
	background-color: #bcdcf1;
}


#modal1{
	height: 65%;
	overflow-y: hidden;
}
.modal h4{
	font-size: 1.58rem;
}
.modal table caption{
	color: #f5f5f5;
    font-size: 1.34rem;
    margin: 0.62rem 0 0.556rem 0;
    background-color: #39495d;
}
.modal table thed tr{
	background-color: #efefef;
}
.wideModal{
	width: 95%;
}
.blinkMe {
	animation: blinker 3s linear infinite;
  }
  .cOrange{
	  color: orange;
	  
	  margin-bottom: 0px;
  }
  @keyframes blinker {  
	50% {  opacity: 0.7;}
  }

  #preloading{
	position: fixed;
    max-height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: auto;
    text-align: center;
    background: url(img/Z0e5O.gif) no-repeat center center;
    background-color: rgba(255,255,255,1);
  }

  .toast a{
	cursor: pointer;
    color: #72ea1a;
	font-weight: 400;
	
  }

  .tr{
	  text-align: left;
  }

  #modaltable .modal-content {
	padding: 10px 24px;
	margin-bottom: 15px;
  }
  #tableRank thead{border: none;}
  #tableRank thead tr th{padding: 5px 5px;}
  #tableRank td{padding: 1px 3px;}
  #tableRank { color: #9e9e9e;font-size: 1rem;}


 
  /*
	  SCROLL HORIZONTAL
*/

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.horizontal-scroll-wrapper{
  
  display:block;
  width:80px;
  max-height:180px;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
  margin-bottom: -103px;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:3px;
  background:#ffffff;
  text-align: center;
  color: #9e9e9e;
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:60px 0 0 0;
}

.squares > div{
  width:60px;
  height:80px;
  margin:-12px 12px;
  font-size: 1rem;
}
.squares div:first-of-type{
	margin:0px 12px!important;
}
.invisible{
	visibility: hidden;
}


.lblResume label{
	display: block;
	font-size: 1rem;
	margin-bottom: 4px;
	margin-bottom: 4px;
}
.lblResume label:nth-child(odd){
	background-color: rgb(242, 242, 243)
}
.lblResume .spLabel{
	width: 200px;
    display: inline-block;
}
.lblResume em{
	float: right;
}
.highlightPos{
	color:green;
}
.highlightNeg{
	color:red;
}
.floating{
	position: fixed;
	bottom: 3%;
	left: 3%;
	width: 240px;
	height: 150px;
	border: 2px silver dashed;
	padding: 10px;
	z-index: 3;
	background-color: rgba(57, 73, 93,0.9);
}
.floating .selectedFund{
	width: 100px;
	height: 100px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	color: silver;
	font-size: 10px;
	display: table;
	float: left;
}

.floating .selectedFund label{
	font-size: 1rem;
	display: table-cell;
	vertical-align: middle;
}
.fullsquare{
	background-color: #444;
}
.fullsquare td{
	color:  #9e9e9e;
}
.emptysquare{
	background-color: #f5f5f5;
}
.floating button{
	width: 210px;
    display: inline;
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
}

.w100{
	width: 100%;
}

.search-wrapper {
    margin: 0 12px;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease;
}

.iconInside {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.bbn{
	border-bottom: none!important;
}

.mainHeader{
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
}
.tableRow:hover .hidenIcon{
	visibility: visible;
}
.hidenIcon{
	visibility: hidden;
	z-index: 4;
}
.hoverRow .hidenIcon{
	visibility: visible;
}
.hoverRow .colorIcon{
	color: black;
}
.hoverRow .fundName {
	color: #3969ba;
	cursor: pointer;
}
.colorIcon{
	color: #c5c9ce;
}
.comparandoFundo .compareIcon{
	color: steelblue;;
	visibility: visible;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }

  .rotate{
	position: fixed;
    max-height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: auto;
    text-align: center;
    background: url(img/mobile.gif) no-repeat center center;
    background-color: rgba(255,255,255,.7);
  }
  
  .tdNotFound{
	text-align: center;
    font-size: 17px;
  }
  .tdNotFound i{
	  font-weight: bold;
  }


  .tac{
	  text-align: center;
  }

  .compareHighlight{
	  color: steelblue;
  }
  .noPadding{
	  padding: 0px!important;
  }
.zcParent{display: block;    margin-bottom: 7px;}
.zcParent label{font-weight: bold;}
.ac  .zcm4{ color: #1d18a3; }
.ac  .zcm3{ color: #2333a5; }
.ac  .zcm2{ color: #2e4dba;}
.ac  .zcm1{ color: #3969ba; }
.ac  .zc0{ color: #548cbf; }
.ac  .zc1{ color: #3969ba; }
.ac  .zc2{ color: #2e4dba; }
.ac  .zc3{ color: #2333a5;}
.ac  .zc4{ color: #1d18a3 }

.mm  .zcm4{ color: #1d18a3; }
.mm  .zcm3{ color: #2333a5; }
.mm  .zcm2{ color: #2e4dba;}
.mm  .zcm1{ color: #3969ba; }
.mm  .zc0{ color: #548cbf; }
.mm  .zc1{ color: #3969ba; }
.mm  .zc2{ color: #2e4dba; }
.mm  .zc3{ color: #2333a5;}
.mm  .zc4{ color: #1d18a3 }

.rf  .zcm4{ color: #1d18a3; }
.rf  .zcm3{ color: #2333a5; }
.rf  .zcm2{ color: #2e4dba;}
.rf  .zcm1{ color: #3969ba; }
.rf  .zc0{ color: #548cbf; }
.rf  .zc1{ color: #3969ba; }
.rf  .zc2{ color: #2e4dba; }
.rf  .zc3{ color: #2333a5;}
.rf  .zc4{ color: #1d18a3 }

.sliderTitle{
	margin-bottom: 0px;
}
.sliderP{
	margin-top: 0px;
	margin-bottom: 7px;
}
.sliderColor{
	color:#26a69a;
}

.currentName{
	height: 60px;
	line-height: 60px;
	border-bottom: solid 1px silver;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	font-weight: bold;
	font-size: 20px;
	color: #3969ba;
}
.histFooteLabel{
	display: block;
	margin-bottom: 5px;
}

tr.tableRow.ng-scope.hoverRow:after {
    background-color: #f2f2f2;
	width: 17%;
	
}
tr.tableRow.ng-scope:after {
    content: " ";
    background: transparent;
	width: 0px;
    height: 60px;
    transition: all .2s ease;
    display: block;
    position: absolute;
	left: 99%;
	
}
.rightColor{
	background-color: #f2f2f2;
}

.mt5{
	margin-top: 5px;
}

.row .fixedColumn{
	position: fixed;
    right: 0!important;
    height: calc(100vh - 74px);
    overflow-y: auto;
	padding: 0px 0.75rem;

}
.r0{
	right: 0px;
}
.prel{
	position: relative;
}
.fnone{
	float: none!important;
}
.marAuto{
	margin-left: auto!important;
	margin-right: auto!important;
}
.fundName{
	max-width: 250px;
	width: 250px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	line-height: 100%;
	display: inline-block;
}

.histslider{
	margin-bottom: 0.45rem;
	margin-top: 0.33rem
}
.currentSortCol{
	text-decoration: underline
}
#rankTable label{
	color: #3969ba;
	display: block;
}
#rankTable tr td{
	border:solid white 1px;;
}
#rankTable tr td.highlightCell {
	border: dashed 1px silver;
	background-color: #f2f2f2;
}
.fwb{
	font-weight: bold;
}
#modalRankingDialog section{
	color: slategray;
}

.iconOff{
	color: silver;
}
.iconOn{
	color: slategray;
}
.iconOn:hover{
	color: rgb(87, 122, 156);
}
i.tinySmall{
	font-size: 1.5rem;
}

.thNoPadding{
	padding: 15px 0px;
}
.thWidth{width: 9%;}
.pointer{cursor: pointer;}

.chartTitle{
	font-size: 1.4rem;
}

.google-visualization-tooltip h5, .google-visualization-tooltip p{
	padding-left: 5px;
}

.minH:after{
	content: ".";
	color: transparent;
}
.fr{
	float: right;
}
.psmall{
	font-size: 0.75rem;
}

.row  .minTableHeight{
	min-height: 70vh
}
#subtitle{
	text-overflow: ellipsis;
	overflow: hidden;
}