<div>
    <div class="divider"></div>
    <h5 class="filterTitle">
        {{chartTitle}}: 
    </h5>
    <label class="labelTitle">
        {{value|rounded:2}}{{sufix}}
        <i ng-show="showChart=='true'" ng-click="$parent.openChart(chartTitle, property)" class="smallIcon material-icons tiny " title="{{tooltip}}">insert_chart</i>
    </label>
    <ul ng-if="correlation != null" class="pgrUl" ng-class="{'pgrPos':correlation >= 0, 'pgrNeg':correlation<0}">
        <li ng-repeat="i in [0,1,2,3]" style="width:{{$parent.$parent.$parent.getWidth($parent.correlation, i)}}%;"></li>
    </ul>
    <ul class="histUl">
        <li 
            ng-repeat="item in histogram"
            ng-click="$parent.$parent.histClick(histogram,item, property, type)"
            class="waves-effect waves-orange " 
            title="Valores entre {{::item.low}}{{sufix}} e {{::item.high}}{{sufix}} &#013;&#010; {{::item.count}} ocorrência{{item.count!=1?'s':''}}({{::item.perc}}%) &#013;&#010; clique para filtrar "
            ng-class="{filter:item.isFiltering,blink_me:item.isFiltering, active:$index==currentrow}"
            style="height:{{item.height}}%;">
            
        </li>
    </ul>
</div>
