<div class="{{classificationType}}">
    <div class="divider"></div>
    <h5 class="filterTitle {{extraTxtClass}}">
        {{chartTitle}}: 
        <span class="fr">{{value|rounded:2}}{{sufix}}</span>
    </h5>
    
    
    
    <div  class="zcParent">
        <label title="{{extraTxt}}" ng-class="{zcm4:reversecolor=='', zc4:reversecolor=='s'}" ng-show="calc_zscore() <= -4">Extremamente abaixo da média </label>
        <label title="{{extraTxt}}" ng-class="{zcm3:reversecolor=='', zc3:reversecolor=='s'}" ng-show="calc_zscore() == -3">Muito abaixo da média </label>
        <label title="{{extraTxt}}" ng-class="{zcm2:reversecolor=='', zc2:reversecolor=='s'}" ng-show="calc_zscore() == -2">Abaixo da média </label>
        <label title="{{extraTxt}}" ng-class="{zcm1:reversecolor=='', zc1:reversecolor=='s'}" ng-show="calc_zscore() == -1">Levemente abaixo da média </label>
        <label title="{{extraTxt}}" class="zc0" ng-show="calc_zscore() == 0">Na média </label>
        <label title="{{extraTxt}}" ng-class="{zc1:reversecolor=='', zcm1:reversecolor=='s'}" ng-show="calc_zscore() == 1">Levemente acima da média </label>
        <label title="{{extraTxt}}" ng-class="{zc2:reversecolor=='', zcm2:reversecolor=='s'}" ng-show="calc_zscore() == 2">Acima da média </label>
        <label title="{{extraTxt}}" ng-class="{zc3:reversecolor=='', zcm3:reversecolor=='s'}" ng-show="calc_zscore() == 3">Muito acima da média </label>
        <label title="{{extraTxt}}" ng-class="{zc4:reversecolor=='', zcm4:reversecolor=='s'}" ng-show="calc_zscore() >= 4">Extremamente acima da média  </label>
    </div>

    <ul  class="histslider pgrUl" ng-class="{'pgrPos':_zscore >= 0, 'pgrNeg':_zscore<0}">
        <li ng-repeat="i in [0,1,2,3]" style="width:{{$parent.getWidth(i)}}%;"></li>
    </ul>


    <label class="histFooteLabel" ng-show="histogram.professonalMode==false" ng-click="histogram.professonalMode = true">
            <i class="material-icons tiny">equalizer</i>Ver distribuição        
    </label>
    
    <ul class="histUl" ng-if="histogram.professonalMode == true">
         <li 
                ng-repeat="item in histogram.data"
                ng-click="$parent.$parent.histClick(histogram,item, property, type)"
                class="waves-effect waves-orange " 
                title="Valores entre {{::item.low}}{{sufix}} e {{::item.high}}{{sufix}} &#013;&#010; {{::item.count}} ocorrência{{item.count!=1?'s':''}}({{::item.perc}}%) &#013;&#010; clique para filtrar "
                ng-class="{filter:item.isFiltering,blink_me:item.isFiltering, active:$index==currentrow}"
                style="height:{{item.height}}%;">
                
        </li>
    </ul>
        <label class="histFooteLabel" ng-show="histogram.professonalMode==true" ng-click="histogram.professonalMode = false">
                <i class="material-icons tiny">expand_more</i>Ocultar distribuição        
        </label>
    
    <label  class="histFooteLabel" ng-click="$parent.openChart(chartTitle, property, tooltip)" ng-show="showChart=='true'" title="{{tooltip}}">
        <i class="material-icons tiny " >timeline</i> Gráfico  {{chartTitle}} vs Rendimento.
    </label>
</div>
